@font-face {
    font-family: pixel;
    src: url('com.ttf');
}
.ielogo {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 2%;
    top: 4%;
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
}
.ielogo:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
.tvbox {
    position: relative;
    margin-top: 10%;
    left: 10%;
    right: 10%;
    width: 80%;
    overflow: hidden;
    background: #663333;
}
.tvbox:before {
    content: "";
    display: block;
    padding-top: 50%;
}
.midbox {
    position: absolute;
    top: 5%;
    left: 3%;
    bottom: 5%;
    right: 3%;
    background: #99cccc;
}
.tvcontent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.tvcontent div {
   display: table;
   width: 100%;
   height: 100%;
}
.tvcontent h4 {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-top: 20%;
    line-height: 0;
    color: white;
    font-family: pixel;
    font-size: 64px;
}
.tvcontent p {
    display: block;
    text-align: center;
    line-height: 0;
    color: white;
    font-family: pixel;
    font-size: 48px;
}
body {
    background-color: #000;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@media screen and (max-width : 960px){
    .tvcontent h4 {
        font-size: 48px;
    }
    .tvcontent p {
        font-size: 32px;
    }
}
@media screen and (max-width : 630px){
    .tvcontent h4 {
        font-size: 24px;
    }
    .tvcontent p {
        font-size: 16px;
    }
    .ielogo {
        height: 25px;
        width: 25px;
    }
}
